{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-section">
    <div class="hero-content">
        <!-- Animated Phrases Section -->
        <div class="hero-animation">
            <span id="animated-phrases"></span>
        </div>
        <!-- Button Section -->
        <div class="hero-button">
            <a href="{% url 'quiz:quiz_view' %}">
                <button class="btn business-test-btn">Take the Quiz</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

