{% extends "base.html" %}
{% load static %}

{% block content %}


    
    
    <!-- Row for the message at the top -->
    <div class="top-message-row-index-page">
        <div class="col-12 text-center my-5">
            <p id="message-container">Loading message...</p>
        </div>
    </div>

    <!-- Row for the three images underneath the message -->
    <div class="row justify-content-center images-row">
        <!-- Left Static Image Column -->
        <div class="col-12 col-sm-6 col-md-4 my-auto text-center mb-4">
            <div class="image-container">
                <img class="image-style img-fluid" src="{% static 'media/creative-thinking.webp' %}" alt="Left Static Image">
            </div>
        </div>
    
        <!-- Center Dynamic Image Column -->
        <div class="col-12 col-sm-6 col-md-4 my-auto text-center mb-4">
            <div class="image-container">
                <img id="image-placeholder" class="image-style img-fluid" src="" alt="Loading image...">
            </div>
        </div>
    
        <!-- Right Static Image Column -->
        <div class="col-12 col-sm-6 col-md-4 my-auto text-center mb-4">
            <div class="image-container">
                <img class="image-style img-fluid" src="{% static 'media/creative-business-image.webp' %}" alt="Right Static Image">
            </div>
        </div>
    </div>
    
    <!-- Row for the placeholders -->
    <div class="row justify-content-center">
        <!-- First Placeholder (2/3 width) -->
        <div class="col-12 col-md-8 mb-4">
            <div class="placeholder-container p-3">
                <p>Are you an StartUp, SME or a larger business with a problem. I have over 40 years experience in building my own businesses and would love the opportunity to see if I can help.</p>
            </div>
        </div>

        <!-- Second Placeholder (1/3 width) -->
        <div class="col-12 col-md-4 mb-4">
            <div class="placeholder-container p-3">
                <p>If you go through your Local Enterprise Operation (LEO) my time is free.</p>
            </div>
        </div>
    </div>

<!-- Heading for Testimonials -->
    <div class="container testimonial-container">
        <div class="testimonial-section text-center mb-5 mt-5">
            <h2>Testimonials</h2>
        </div>

        <div class="row justify-content-center testimonial-row">
            {% for testimonial in testimonials|slice:":3" %}
            <div class="col-12 col-md-4 mb-4">
                <div class="testimonial-container p-3">
                    <p>"<span id="testimonial-text">{{ testimonial.text|default:"Loading..." }}</span>"</p>
                    <small>- <span id="testimonial-name">{{ testimonial.name|default:"Anonymous" }}</span>
                        <span id="testimonial-company">{% if testimonial.company %}, {{ testimonial.company }}{% endif %}</span>
                    </small>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No testimonials available at the moment</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
