/* Ensure the page takes the full height of the viewport */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

/* Main content area (flex-grow ensures it expands to fill available space) */
main {
    flex-grow: 1;
}

body {
    background: url('../media/image4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Bodoni';
}

#delivery-banner {
    margin-right: 12px;
    border: 1px solid #fff; /* Add a border for design */
}

.top-message-row-index-page {
    margin-top: calc(var(--header-height, 60px)); /* Default to 60px if --header-height isn't set */
}
.container {
    flex: 1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    
}

.main-logo-link {
    width: fit-content;
    color: #445261;
}



.btn-black {
    background: #446146;
    color: white;
    border-radius: 5px !important;
}



.text-black {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #445261;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Underline effect for main nav items */
.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #445261;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
    width: 100%;
    left: 0;
}

/* Ensure the header doesn't overlap the content */
.header-container {
    position: relative;
    z-index: 10;
}

/* Add padding to push content down from the top */
.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Adjust the column layout and initial positioning */
.col-12.col-lg-6.my-auto {
    margin: 0 auto !important;
    transform: translateY(-100px);
}

.h-100 {
    height: auto !important;
    max-height: 100vh;
}






/* Toast CSS */
.message-container {
    background-color: white;
    color: black;
    position: fixed;
    top: 10px;
    right: 15px;
    
}

.custom-toast {
    overflow: visible;
}

.toast_capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}



/* Alllauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #445261;
}

.allauth-form-inner-content {
    border-color: #343a40;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #445261;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #445261;

    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #445261;
    background-color: white;
    border-color: #445261;
}

.allauth-form-inner-content a {
    color: #445261;
}



/* Responsive adjustments */
@media (max-width: 991px) {

    .navbar-nav .nav-item::after {
        display: none;

    }

    .dropdown-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        box-shadow: none;
    }


}







/* Footer stays at the bottom */
footer.custom-white {
    background-color: #445261 !important;
    color: white !important;
    border-top: 1px solid #ccc !important;
    width: 100%;
    
    padding: 10px;
    text-align: center;
}





a.footer.custom-white {
    
    color: white !important;
    
    
}





/* Footer link styling */
footer.custom-white .footer-link {
    color: white;
    text-decoration: none;
}

footer.custom-white .footer-link:hover {
    text-decoration: underline;
}




/* Style for the message container */
#message-container {
    display: inline-block;       /* Adjusts size based on content */
    background-color: rgba(120, 134, 128, 0.3);   /* Light background color */
    padding: 10px 20px;          /* Padding around the message */
    border-radius: 5px;          /* Rounded corners */
    font-size: 1.2rem;           /* Adjust font size as needed */
    text-align: center;          /* Center the text */
    max-width: 100%;             /* Prevent the container from stretching too wide */
    white-space: normal;         /* Ensure that the text wraps if it’s too long */
    word-wrap: break-word;      /* Allow long words to break if necessary */
    margin-top: 100px;
    font-weight: bold;           /* Make text bold */
    text-transform: uppercase;   /* Convert text to uppercase */
    color: #445261;
   
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/* Container for each image with a white background and uniform size */
.image-container {
    background-color: rgba(255, 255, 255, 0.3);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.8)
}

/* Add max-width only for larger screens */
@media (min-width: 992px) {
    .image-container {
        max-width: 300px; /* Constrain size only on larger screens */
    }
}

/* Style for images inside the containers */
.image-style {
    width: 100%;                   /* Ensure images take full width */
    height: auto;  
    max-height: 200px;                /* Ensure images take full height */
    object-fit: cover;             /* Makes sure the image covers the div area */
    border-radius: 5px;            /* Optional: Rounded corners for images */
}

.placeholder-row {
    margin-top: 30px; /* Adjust the value as needed */
}

/* Style for the placeholder container */
.placeholder-container {
    background-color: white;   /* White background for the placeholder */
    border: 1px solid #445261;    /* Light gray border */
    padding: 15px;              /* Add some space inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Optional: subtle shadow around the boxes */
    border-radius: 8px;/* Optional: rounded corners */
    margin-bottom: 30px;
}

/* Add a gap between the columns when they are next to each other */
.row > .col-md-8,
.row > .col-md-4 {
    margin-bottom: 20px; /* Small gap between the boxes */
    margin-top: 20px;
}

/* Ensure the placeholders don't touch the edge on smaller screens */
@media (max-width: 767px) {
    .placeholder-container {
        padding: 10px; /* Adjust padding for smaller screens if necessary */
    }
}

/* Ensure the container is positioned relative for the absolute positioning of the box */
/* Ensure the container is positioned relative for the absolute positioning of the box */
.container.position-relative {
    position: relative;
}

/* Row that holds the images */
.row.justify-content-center {
    position: relative; /* Position this row to be the reference point for the transparent box */
    
}

/* Transparent white box */
.transparent-box {
    position: absolute;
    top: 0;
    left: 0px;
    width: 20%; /* 1/3 of the screen width */
    height: 100vh; /* Full height of the page */
    background-color: rgba(69, 82, 97, 0.9); /* White with 70% opacity */
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect on the right side */
    z-index: 1; /* Make sure the box sits under the images */
}

.transparent-box-right {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0; /* Align at the bottom of the page */
    right: 25px; /* Align the box to the right side */
    width: 20%; /* Keep the width as 1/3 of the screen width */
    height: 66.66%; /* 2/3 of the screen height */
    background-color: rgba(120, 134, 128, 0.8); /* Transparent orange */
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect on the left side */
    z-index: 1; /* Ensures it sits under other content */
    overflow: hidden; /* Prevent overflow if the box is too large */
    margin-right: 0; /* Make sure it doesn’t stick out to the right */
}




/* Only the row containing the images */
.row.justify-content-center.images-row {
    background-color: #445261; /* Apply white background */
    padding: 20px 0; /* Optional: Add padding for spacing inside the row */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
}

#main-nav {
    background-color: #008080; /* Set background for the navbar */
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        background-color: #008080;
    }
}

#topnav .col-8 {
    text-align: left;
}

#topnav .col-4 {
    text-align: right; /* Ensure "My Account" aligns to the right */
  }

  

    

/* Placeholder container styles */
.placeholder-container {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.container.testimonial-container {
   
    padding-bottom: 2rem;
    
}

/* Heading style */
.testimonial-section {
    display: flex; /* Makes the div shrink to fit its content */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    padding: 10px 20px; /* Add padding to ensure the background doesn't hug the text too tightly */
    border-radius: 5px; /* Optional: Add rounded corners for better aesthetics */
    margin-bottom: 2rem!important;
    clear: both;
}


  .testimonial-section h2 {
    
    background-color: rgba(120, 134, 128, 0.3);
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    max-width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    color: #445261;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px auto; /* Centers and adds space around the heading */
}

@media (max-width: 776px) {
    .testimonial-section {
        margin-top: 80px; /* Increase space on smaller screens */
        
    }
    .testimonial-row {
        flex-direction: column; /* Stacks testimonials vertically */
        align-items: center; /* Centers the items */
        margin-top: 3rem;
    }

    .testimonial-container {
        width: 90%; /* Make each testimonial take up most of the screen width */
    }
}
/* Add the background color to the row */
.testimonial-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between testimonials */
    margin: 0 auto; /* Center the row */
    width: 100%; /* Full width */
    max-width: 1200px;
    background-color: rgba(68, 82, 97, 0.5); /* Transparent background */
    
    border-radius: 8px; /* Optional: Add rounded corners */
    margin-top: 2rem;
    
}

/* Testimonial container styles */
.testimonial-container {
    
    border-radius: 8px;
    text-align: center;
    
    
}

.testimonial-container p {
    font-size: 1rem;
    color: #555;
}

/* Optional: Add padding between each placeholder */
.mb-4 {
    margin-bottom: 30px;
}
/* Apply some margin around the main containers */
.row {
    margin-left: 1px; /* Space from the left edge of the page */
    
}

.row justify-content-center {
    background-color: rgba(68, 82, 97, 0.0);
}

.bg-white {
    position: relative; /* Positioning context for the pseudo-element */
    background-color: white !important;
    width: 102%;
    margin: 0;
    padding: 0;
    margin-left: -28px;
    color: #445261; 
}

.bg-white::before {
    content: ""; /* Required to display the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#445261;
    
    
}

.bg-black {
    background: #445261;
    width: 100%;
}



.p-3 {
    padding: 1rem;
    background-color: white!important;
    border: 1px solid #445261;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}
/* Media queries for smaller screens */
@media (max-width: 576px) {
    .image-container {
        margin-bottom: 20px;
    }
    .placeholder-container p {
        font-size: 14px;
    }
    .testimonial-container {
        text-align: center;
        padding: 20px;
    }
    .transparent-box, .transparent-box-right {
        width: 100%;
        margin-bottom: 10px;
    }
    .testimonial-row {
        margin-top: 50px; /* Increase the gap for small screens */
    }
    .testimonial-container {
        margin-bottom: 20px; /* Space between testimonials */
    }
}

@media (max-width: 576px) {
    .transparent-box, .transparent-box-right {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* style for the index1 page */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("{% static 'media/image4.jpg' %}"); /* Change to your desired background color */
    color: #445261; /* Default text color, can be customized */
    padding: 20px;
    text-align: center;
}
/* Background image styling */
#zooming-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures proper scaling without distortion */
    z-index: 1; /* Behind text and button */
    animation: fadeZoom 8s infinite ease-in-out; /* Sync with the text animation */
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.hero-button {
    margin-top: 20px;
    
}

.business-test-btn {
    background-color: #008080;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.business-test-btn:hover {
    background-color: #f0f0f0;
}

.hero-animation {
    flex: 2;
    font-size: 1.5em;
    font-weight: bold;
}



/* Keyframes for zoom in, pause, and zoom out */
@keyframes fadeZoom {
    0% {
        opacity: 0; /* Start invisible */
        transform: scale(0.8); /* Slightly smaller */
    }
    20% {
        opacity: 1; /* Fully visible */
        transform: scale(1.2); /* Zoom in slightly */
    }
    80% {
        opacity: 1; /* Stay fully visible (pause) */
        transform: scale(1.2); /* Maintain size */
    }
    100% {
        opacity: 0; /* Fade out */
        transform: scale(0.8); /* Zoom out slightly */
    }
}

/* Apply animation */
#animated-phrases {
    display: inline-block;
    font-size: 2em; /* Adjust size as needed */
    color: white;
    animation: fadeZoom 8s infinite ease-in-out; /* 8 seconds total */
    background-color: rgba(68, 82, 97, 0.5);
    border-radius: 5px;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-button, .hero-animation {
        margin-bottom: 20px;
    }
}

