<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'index1' %}" id="index-link">           
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'aboutme:about_me_view' %}" id="all-products-link"  aria-haspopup="true" aria-expanded="false">
                About Me
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Horseware"  aria-haspopup="true" aria-expanded="false">
                Business Consulting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Horseware">
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="riderware-link"  aria-haspopup="true" aria-expanded="false">
                Digital Consulting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="riderware-link">
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'quiz:quiz_view' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Take the Test
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'blog:post_list' %}" id="reviews-link"  aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href=""
            aria-label="Contact us page link" id="contact_us-link" >
                Contact Us
            </a>
        </li>
    </ul>
</div>