{% extends "base.html" %}
{% load static %}



{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="blog-section">
    <div class="container">
        <h1 class="text-center mb-4">My Blog</h1>
        <div class="col-12 col-md-6 col-lg-12 mb-4">
            <div class="blog-post-card h-100">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="date">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|linebreaks }}
                <p>
                    <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}




    
