{% extends "base.html" %}
{% load static %}

{% block title %}My Blog{% endblock %} 

{% block content %}
<div class="blog-section">
    <div class="container">
        <h1 class="text-center mb-4">My Blog</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="blog-post-card h-100">
                        <h2 class="post-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h2>
                        <p class="post-meta">
                            Published {{ post.publish }} by {{ post.author }}
                        </p>
                        <div class="post-excerpt">
                            {{ post.body|truncatewords:30|linebreaks }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "includes/pagination.html" with page=posts %} 
    </div>
</div>
{% endblock %}