{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="blog-section">
    <div class="container">
        <h1 class="text-center mb-4">My Blog</h1>
        <div class="col-12 col-md-6 col-lg-12 mb-4">
            <div class="blog-post-card h-100">
                {% if sent %}
                <h1>E-mail successfully sent </h1>
                <p>
                    "{{ post.title }}" was successfully sent to {{ recipient_email }}.
                </p>
                {% else %}
                <h1>Share "{{ post.title }}" by email</h1>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Send E-mail">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
